.quality-first-page-element {
    width: 100%;
    height: 25em;
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

/* background section */
.quality-section {
    height: 30em;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('assets/quality1.jpg') no-repeat center center;
    background-size: cover;
}

.quality-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    padding: 2em 3em;
    font-family: Poppins, sans-serif;
}

.quality-section h1,
.quality-section h4 {
    margin-top: 60px;
    font-size: 25px;
    text-align: left;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    width: 60%;
    line-height: 40px;
}

.quality-section h4 {
    color: #f97216;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* data-entry second page */
.quality-second-page-element {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    font-family: Poppins, sans-serif;
    padding: 0 20px;
}

.quality-heading {
    width: 100%;
    font-size: 35px;
    color: #121212;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: none;
    margin: 20px 30px 0px 10px;
}

.quality-separator {
    width: 15%;
    margin: 1rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 14px;
}

.quality-divider {
    width: 80%;
    height: 3px;
    background: #f97216;
    border: none;
    margin: 0;
    opacity: 0.7;
}

.quality-paragraph1,
.quality-paragraph2,
.quality-paragraph3 {
    width: calc(100% - 60px);
    font-size: 20px;
    color: #121212;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: none;
    text-decoration: none;
    margin: 20px 30px 0px 10px;
}

.bold-paragraph {
    font-weight: bold;
    font-size: 1.1rem;
    margin-top: 1.5rem;
    color: #121212;
}
.weKnow-heading {
    width: 100%;
    font-size: 35px;
    color: #121212;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: none;
    /* margin: 20px 30px 0px 10px; */
}
.weKnow-paragraph1,
.weKnow-paragraph2 {
    width: calc(100% - 60px);
    font-size: 20px;
    color: #121212;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: none;
    text-decoration: none;
    /* margin: 20px 30px 0px 10px; */
}
.weKnow-separator {
    width: 15%;
    margin: 1rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 14px;
}

.weKnow-divider {
    width: 80%;
    height: 3px;
    background: #f97216;
    border: none;
    margin: 0;
    opacity: 0.7;
}
.weKnow-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    padding: 2em 3em;
    font-family: Poppins, sans-serif;
}